@model IEnumerable<TruYumPortal.Models.Items>

@{
    ViewData["Title"] = "GetAllItems";
}

<h1>Menu</h1>
<p>
    <a asp-action="AddNewItem">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ItemId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreeDelivery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.ItemId }) |
                    @Html.ActionLink("Details", "GetItem", new { id = item.ItemId }) |
                    @Html.ActionLink("Delete", "DeleteItem", new { id = item.ItemId })
                </td>
            </tr>
        }
    </tbody>
</table>
